.text {
  font-weight: 500;
  font-size: 18px;
  color: blue;
}

.span {
  margin-left: 10px;
  color: blue;
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
}

.button {
  width: 80px;
  height: 30px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: blue;
  outline: none;
}
.button:hover {
  color: red;
  transform: scale(1.3);
  font-weight: 700;
}

.item {
  display: flex;
  justify-content: space-between;
}

.item:not(:last-child) {
  margin-bottom: 10px;
}
